
<widget xmlns   = "http://www.w3.org/ns/widgets"
        
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "PGBuild-debug.4085208.1.apk"
    version     = "n-a" >


  <name>pinecity</name>

  <description>
      Pine city Zoo App.
  </description>
git config --global user.email "bongekavala"
git config--global user.name"bongekavala"  
</widget>
    
